---
http_interactions:
- request:
    method: get
    uri: https://api.broadmail.de/soap11/RpcSession?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions targetNamespace="urn:api.broadmail.de/soap11/RpcSession" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:api.broadmail.de/soap11/RpcSession" xmlns:intf="urn:api.broadmail.de/soap11/RpcSession" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://lang.java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

        <!--WSDL created by Apache Axis version: 1.4
        Built on Apr 22, 2006 (06:55:48 PDT)-->

          <wsdl:types>

            <schema targetNamespace="urn:api.broadmail.de/soap11/RpcSession" xmlns="http://www.w3.org/2001/XMLSchema">

              <import namespace="http://lang.java"/>

              <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

              <complexType name="WebserviceException">

                <sequence>

                  <element name="cause" nillable="true" type="xsd:anyType"/>

                  <element name="message" nillable="true" type="xsd:string"/>

                </sequence>

              </complexType>

            </schema>

          </wsdl:types>


            <wsdl:message name="setMediaTypeResponse">


            </wsdl:message>


            <wsdl:message name="setLocaleResponse">


            </wsdl:message>


            <wsdl:message name="WebserviceException">


                <wsdl:part name="fault" type="impl:WebserviceException">


                </wsdl:part>


            </wsdl:message>


            <wsdl:message name="getVersionResponse">


                <wsdl:part name="getVersionReturn" type="xsd:string">


                </wsdl:part>


            </wsdl:message>


            <wsdl:message name="loginRequest">


                <wsdl:part name="in0" type="xsd:long">


                </wsdl:part>


                <wsdl:part name="in1" type="xsd:string">


       [...]
- request:
    method: post
    uri: https://api.broadmail.de/soap11/RpcSession
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="urn:api.broadmail.de/soap11/RpcSession"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><impl:login><mandatorId><FILTERED></mandatorId><user><FILTERED></user><password><FILTERED></password></impl:login></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"login"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:loginResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="urn:api.broadmail.de/soap11/RpcSession"><loginReturn
        xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">8bea48043fe71194</loginReturn></ns1:loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 24 Apr 2019 13:20:13 GMT
- request:
    method: get
    uri: https://api.broadmail.de/soap11/RpcBlacklist?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions targetNamespace="urn:api.broadmail.de/soap11/RpcBlacklist" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:api.broadmail.de/soap11/RpcBlacklist" xmlns:intf="urn:api.broadmail.de/soap11/RpcBlacklist" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://lang.java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

        <!--WSDL created by Apache Axis version: 1.4
        Built on Apr 22, 2006 (06:55:48 PDT)-->

          <wsdl:types>

            <schema targetNamespace="urn:api.broadmail.de/soap11/RpcBlacklist" xmlns="http://www.w3.org/2001/XMLSchema">

              <import namespace="http://lang.java"/>

              <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

              <complexType name="ArrayOfArrayOf_xsd_string">

                <complexContent>

                  <restriction base="soapenc:Array">

                    <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[][]"/>

                  </restriction>

                </complexContent>

              </complexType>

              <complexType name="WebserviceException">

                <sequence>

                  <element name="cause" nillable="true" type="xsd:anyType"/>

                  <element name="message" nillable="true" type="xsd:string"/>

                </sequence>

              </complexType>

              <complexType name="ArrayOf_x[...]
- request:
    method: post
    uri: https://api.broadmail.de/soap11/RpcBlacklist
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="urn:api.broadmail.de/soap11/RpcBlacklist"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><impl:contains><entry>wojtek-spam@test.com</entry><sessionId>8bea48043fe71194</sessionId></impl:contains></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"contains"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:containsResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="urn:api.broadmail.de/soap11/RpcBlacklist"><containsReturn
        href="#id0"/></ns1:containsResponse><multiRef id="id0" soapenc:root="0" soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xsi:type="xsd:boolean" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">true</multiRef></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 24 Apr 2019 13:20:13 GMT
recorded_with: VCR 4.0.0
