---
http_interactions:
- request:
    method: get
    uri: https://api.broadmail.de/soap11/RpcSession?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions targetNamespace="urn:api.broadmail.de/soap11/RpcSession" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:api.broadmail.de/soap11/RpcSession" xmlns:intf="urn:api.broadmail.de/soap11/RpcSession" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://lang.java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

        <!--WSDL created by Apache Axis version: 1.4
        Built on Apr 22, 2006 (06:55:48 PDT)-->

          <wsdl:types>

            <schema targetNamespace="urn:api.broadmail.de/soap11/RpcSession" xmlns="http://www.w3.org/2001/XMLSchema">

              <import namespace="http://lang.java"/>

              <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

              <complexType name="WebserviceException">

                <sequence>

                  <element name="cause" nillable="true" type="xsd:anyType"/>

                  <element name="message" nillable="true" type="xsd:string"/>

                </sequence>

              </complexType>

            </schema>

          </wsdl:types>


            <wsdl:message name="setMediaTypeResponse">


            </wsdl:message>


            <wsdl:message name="setLocaleResponse">


            </wsdl:message>


            <wsdl:message name="WebserviceException">


                <wsdl:part name="fault" type="impl:WebserviceException">


                </wsdl:part>


            </wsdl:message>


            <wsdl:message name="getVersionResponse">


                <wsdl:part name="getVersionReturn" type="xsd:string">


                </wsdl:part>


            </wsdl:message>


            <wsdl:message name="loginRequest">


                <wsdl:part name="in0" type="xsd:long">


                </wsdl:part>


                <wsdl:part name="in1" type="xsd:string">


       [...]
- request:
    method: post
    uri: https://api.broadmail.de/soap11/RpcSession
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="urn:api.broadmail.de/soap11/RpcSession"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><impl:login><mandatorId><FILTERED></mandatorId><user><FILTERED></user><password>jLpM3LNno$LAHs6&amp;wQgc</password></impl:login></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"login"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:loginResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="urn:api.broadmail.de/soap11/RpcSession"><loginReturn
        xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">b126d73398be4876</loginReturn></ns1:loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Tue, 02 Feb 2016 08:39:37 GMT
- request:
    method: get
    uri: https://api.broadmail.de/soap11/RpcRecipientList?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions targetNamespace="urn:api.broadmail.de/soap11/RpcRecipientList" xmlns:apachesoap="http://xml.apache.org[...]
- request:
    method: post
    uri: https://api.broadmail.de/soap11/RpcRecipientList
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="urn:api.broadmail.de/soap11/RpcRecipientList"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><impl:getAttributeNames><recipientListId>120199092218</recipientListId><locale>de</locale><sessionId>b126d73398be4876</sessionId></impl:getAttributeNames></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"getAttributeNames"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getAttributeNamesResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="urn:api.broadmail.de/soap11/RpcRecipientList"><getAttributeNamesReturn
        soapenc:arrayType="soapenc:string[68]" xsi:type="soapenc:Array" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><getAttributeNamesReturn
        xsi:type="soapenc:string">fl_uid</getAttributeNamesReturn><getAttributeNamesReturn
        xsi:type="soapenc:string">email</getAttributeNamesReturn><getAttributeNamesReturn
        xsi:type="soapenc:string">first_name</getAttributeNamesReturn><getAttributeNamesReturn
        xsi:type="soapenc:string">last_name</getAttributeNamesReturn><getAttributeNam[...]
[...]
- request:
    method: get
    uri: https://api.broadmail.de/soap11/RpcRecipient?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions targetNamespace="urn:api.broadmail.de/soap11/RpcRecipient" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:api.broadmail.de/soap11/RpcRecipient" xmlns:intf="urn:api.broadmail.de/soap11/RpcRecipient" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://lang.java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

        <!--WSDL created by Apache Axis version: 1.4
        Built on Apr 22, 2006 (06:55:48 PDT)-->

          <wsdl:types>

            <schema targetNamespace="urn:api.broadmail.de/soap11/RpcRecipient" xmlns="http://www.w3.org/2001/XMLSchema">

              <import namespace="http://lang.java"/>

              <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

              <complexType name="ArrayOf_xsd_string">

                <complexContent>

                  <restriction base="soapenc:Array">

                    <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>

                  </restriction>

                </complexContent>

              </complexType>

              <complexType name="ArrayOf_xsd_int">

                <complexContent>

                  <restriction base="soapenc:Array">

                    <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>

                  </restriction>

                </complexContent>

              </complexType>

              <compl[...]
- request:
    method: post
    uri: https://api.broadmail.de/soap11/RpcRecipient
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="urn:api.broadmail.de/soap11/RpcRecipient"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><impl:getAttributes><recipientListId>120199092218</recipientListId><recipientId>1</recipientId><attributeNames><element>fl_uid</element><element>email</element><element>first_name</element><element>last_name</element><element>gender</element><element>locale</element><element>birthday</element><element>trainings_count</element><element>registration_source</element><element>confirmed_at_date</element><element>coach</element><element>coach_active</element><element>coach_start_date</element><element>coach_end_date</element><element>coach_week</element><element>coach_recurring</element><element>coach_cancelle[...]
