---
http_interactions:
- request:
    method: get
    uri: https://api.broadmail.de/soap11/RpcSession?WSDL=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions targetNamespace="urn:api.broadmail.de/soap11/RpcSession" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:api.broadmail.de/soap11/RpcSession" xmlns:intf="urn:api.broadmail.de/soap11/RpcSession" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://lang.java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

        <!--WSDL created by Apache Axis version: 1.4
        Built on Apr 22, 2006 (06:55:48 PDT)-->

          <wsdl:types>

            <schema targetNamespace="urn:api.broadmail.de/soap11/RpcSession" xmlns="http://www.w3.org/2001/XMLSchema">

              <import namespace="http://lang.java"/>

              <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

              <complexType name="WebserviceException">

                <sequence>

                  <element name="cause" nillable="true" type="xsd:anyType"/>

                  <element name="message" nillable="true" type="xsd:string"/>

                </sequence>

              </complexType>

            </schema>

          </wsdl:types>


            <wsdl:message name="getLocaleRequest">


                <wsdl:part name="in0" type="xsd:string">


                </wsdl:part>


            </wsdl:message>


            <wsdl:message name="logoutRequest">


                <wsdl:part name="in0" type="xsd:string">


                </wsdl:part>


            </wsdl:message>


            <wsdl:message name="setLocaleResponse">


            </wsdl:message>


            <wsdl:message name="getVersionResponse">


                <wsdl:part name="getVersionReturn" type="xsd:string">


                </wsdl:par[...]
- request:
    method: post
    uri: https://api.broadmail.de/soap11/RpcSession
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="urn:api.broadmail.de/soap11/RpcSession"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><impl:login><mandatorId><FILTERED></mandatorId><user><FILTERED></user><password>jLpM3LNno$LAHs6&amp;wQgc</password></impl:login></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"login"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:loginResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="urn:api.broadmail.de/soap11/RpcSession"><loginReturn
        xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">d72c0118cf5f4279</loginReturn></ns1:loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Fri, 27 Nov 2015 09:15:05 GMT
- request:
    method: get
    uri: https://api.broadmail.de/soap11/RpcRecipient?WSDL=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions targetNamespace="urn:api.broadmail.de/soap11/RpcRecipient" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:api.broadmail.de/soap11/RpcRecipient" xmlns:intf="urn:api.broadmail.de/soap11/RpcRecipient" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://lang.java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

        <!--WSDL created by Apache Axis version: 1.4
        Built on Apr 22, 2006 (06:55:48 PDT)-->

          <wsdl:types>

            <schema targetNamespace="urn:api.broadmail.de/soap11/RpcRecipient" xmlns="http://www.w3.org/2001/XMLSchema">

              <import namespace="http://lang.java"/>

              <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

              <complexType name="ArrayOf_xsd_string">

                <complexContent>

                  <restriction base="soapenc:Array">

                    <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>

                  </restriction>

                </complexContent>

              </complexType>

              <complexType name="WebserviceException">

                <sequence>

                  <element name="cause" nillable="true" type="xsd:anyType"/>

                  <element name="message" nillable="true" type="xsd:string"/>

                </sequence>

              </complexType>

              <complexType name="ArrayOfArra[...]
- request:
    method: post
    uri: https://api.broadmail.de/soap11/RpcRecipient
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="urn:api.broadmail.de/soap11/RpcRecipient"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><impl:getAllFlat><recipientListId>108713280263</recipientListId><attributeNames><element>email</element><element>last_name</element></attributeNames><sessionId>d72c0118cf5f4279</sessionId></impl:getAllFlat></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"getAllFlat"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getAllFlatResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="urn:api.broadmail.de/soap11/RpcRecipient"><getAllFlatReturn
        soapenc:arrayType="soapenc:string[110]" xsi:type="soapenc:Array" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><getAllFlatReturn
        xsi:type="soapenc:string">ben@freeletics.com</getAllFlatReturn><getAllFlatReturn
        xsi:type="soapenc:string"></getAllFlatReturn><getAllFlatReturn xsi:type="soapenc:string">catalina.turlea@freeletics.com</getAllFlatReturn><getAllFlatReturn
        xsi:type="soapenc:string"></getAllFlatReturn><getAllFlatReturn xsi:type="soapenc:string">freeletics@litmustest.com</getAllFlatReturn><getAllFlatReturn
        xsi:type="soapenc:string">Mus</getAllFlatReturn><getAllFlatReturn xsi:type="soapenc:string">itunes@freeletics.com</getAllFlatReturn><getAllFlatReturn
        xsi:type="soapenc:string"></getAllFlatReturn><getAllFlatReturn xsi:type="soapenc:s[...]
