---
http_interactions:
- request:
    method: get
    uri: https://api.broadmail.de/soap11/RpcSession?WSDL=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions targetNamespace="urn:api.broadmail.de/soap11/RpcSession" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:api.broadmail.de/soap11/RpcSession" xmlns:intf="urn:api.broadmail.de/soap11/RpcSession" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://lang.java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

        <!--WSDL created by Apache Axis version: 1.4
        Built on Apr 22, 2006 (06:55:48 PDT)-->

          <wsdl:types>

            <schema targetNamespace="urn:api.broadmail.de/soap11/RpcSession" xmlns="http://www.w3.org/2001/XMLSchema">

              <import namespace="http://lang.java"/>

              <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

              <complexType name="WebserviceException">

                <sequence>

                  <element name="cause" nillable="true" type="xsd:anyType"/>

                  <element name="message" nillable="true" type="xsd:string"/>

                </sequence>

              </complexType>

            </schema>

          </wsdl:types>


            <wsdl:message name="getLocaleRequest">


                <wsdl:part name="in0" type="xsd:string">


                </wsdl:part>


            </wsdl:message>


            <wsdl:message name="logoutRequest">


                <wsdl:part name="in0" type="xsd:string">


                </wsdl:part>


            </wsdl:message>


            <wsdl:message name="setLocaleResponse">


            </wsdl:message>


            <wsdl:message name="getVersionResponse">


                <wsdl:part name="getVersionReturn" type="xsd:string">


                </wsdl:par[...]
- request:
    method: post
    uri: https://api.broadmail.de/soap11/RpcSession
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="urn:api.broadmail.de/soap11/RpcSession"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><impl:login><mandatorId><FILTERED></mandatorId><user><FILTERED></user><password><FILTERED></password></impl:login></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"login"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Body><soapenv:Fault><faultcode>soapenv:Server.userException</faultcode><faultstring>broadmail.api.soap11.impl.WebserviceImplException:
        Invalid credentials.</faultstring><detail><ns1:stackTrace xmlns:ns1=\"http://xml.apache.org/axis/\">broadmail.api.soap11.impl.WebserviceImplException:
        Invalid credentials.\n\tat broadmail.api.soap11.impl.SessionWebserviceImpl.login(SessionWebserviceImpl.java:64)\n\tat
        sun.reflect.GeneratedMethodAccessor140.invoke(Unknown Source)\n\tat sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:25)\n\tat
        java.lang.reflect.Method.invoke(Method.java:597)\n\tat org.apache.axis.providers.java.RPCProvider.invokeM[...]
