---
http_interactions:
- request:
    method: get
    uri: https://api.broadmail.de/soap11/RpcSession?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions targetNamespace="urn:api.broadmail.de/soap11/RpcSession" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:api.broadmail.de/soap11/RpcSession" xmlns:intf="urn:api.broadmail.de/soap11/RpcSession" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://lang.java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

        <!--WSDL created by Apache Axis version: 1.4
        Built on Apr 22, 2006 (06:55:48 PDT)-->

          <wsdl:types>

            <schema targetNamespace="urn:api.broadmail.de/soap11/RpcSession" xmlns="http://www.w3.org/2001/XMLSchema">

              <import namespace="http://lang.java"/>

              <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

              <complexType name="WebserviceException">

                <sequence>

                  <element name="cause" nillable="true" type="xsd:anyType"/>

                  <element name="message" nillable="true" type="xsd:string"/>

                </sequence>

              </complexType>

            </schema>

          </wsdl:types>


            <wsdl:message name="getLocaleRequest">


                <wsdl:part name="in0" type="xsd:string">


                </wsdl:part>


            </wsdl:message>


            <wsdl:message name="logoutRequest">


                <wsdl:part name="in0" type="xsd:string">


                </wsdl:part>


            </wsdl:message>


            <wsdl:message name="setLocaleResponse">


            </wsdl:message>


            <wsdl:message name="getVersionResponse">


                <wsdl:part name="getVersionReturn" type="xsd:string">


                </wsdl:par[...]
- request:
    method: post
    uri: https://api.broadmail.de/soap11/RpcSession
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="urn:api.broadmail.de/soap11/RpcSession"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><impl:login><mandatorId><FILTERED></mandatorId><user><FILTERED></user><password>jLpM3LNno$LAHs6&amp;wQgc</password></impl:login></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"login"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:loginResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="urn:api.broadmail.de/soap11/RpcSession"><loginReturn
        xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">d78add590e00bee6</loginReturn></ns1:loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 28 Oct 2015 09:28:47 GMT
[...]
- request:
    method: post
    uri: https://api.broadmail.de/soap11/RpcSession
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="urn:api.broadmail.de/soap11/RpcSession"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><impl:logout><sessionId>48a43b7c2195f7d0</sessionId></impl:logout></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"logout"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:logoutResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="urn:api.broadmail.de/soap11/RpcSession"/></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 28 Oct 2015 09:28:48 GMT
recorded_with: VCR 2.9.3
